<div class="article"  id="<%= article.id %>">

  <div class "article-links">

    <div class="timestamp">
      <%= link_to article.created_at.strftime("%B %e, %Y"),
          article_path(article) %>
    </div>

    <div class="pencil">
      <%= link_to ('<i class="fa fa-pencil"></i>').html_safe,
          edit_article_path(article), remote: true %>
    </div>

    <div class="trash">
      <%= link_to ('<i class="fa fa-trash-o"></i>').html_safe,
          article_path(article),
              remote: true,
              method: :delete,
              data: { confirm: "Are you sure?" } %>
    </div>

  </div>

  <div class="article-content">
    <%= article.text.gsub("\n", "<br />").html_safe %>
  </div>

  <div class="tags">
    <%= raw tag_links(article.tags.map(&:name)) %>
  </div>

</div>
