<%= form_for @article, remote: true do |form| %>

  <!-- <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> -->

  <%= form.text_area :text, onkeyup: 'checkForEntry(this, ' +
      (@article.id ? @article.id.to_s : '"new_article_button"') + ')' %>

  <%= form.text_field :all_tags, placeholder: '#tags',
      id: (@article.id ? 'article_' + @article.id.to_s + '_tags' : 'new_article_tags'),
      onkeydown: 'checkForEntry(this, ' + (@article.id ? @article.id.to_s : '"new_article_button"') + ')',
      autocomplete: :off, autocorrect: :off, autocapitalize: :off, spellcheck: false %>

  <div class="buttons">
    <%= form.submit 'Save', id: @article.id || 'new_article_button',
        class: 'save-button', disabled: true, remote: true %>
    <%= form.submit 'Cancel', class: 'cancel-button',
        type: @article.id ? 'submit' : 'reset',
        onclick: 'buttonPatch(' + (@article.id ? @article.id.to_s : '"new_article_button"') + ')' %>
  </div>

<% end %>
