<div class="post" id="<%= article.id %>">

  <div class="post-content">
    <%= article.text %>
  </div>

  <div class="post-timestamp">
    <%= link_to article.updated_at.strftime("%B%e"),
        article_path(article) %>
    <%= link_to 'Edit', edit_article_path(article), :remote => true %>
    <%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>

</div>