<%= render 'form' %>

<div id="posts">

  <% @articles.each do |article| %>

    <div class="post">

      <div class="post-content">
        <%= article.text %>
      </div>

      <div class="post-timestamp">
        <%= link_to article.updated_at.strftime("%B%e"),
            article_path(article) %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= 'Destroy',
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </div>

    </div>

  <% end %>

</div>
