<div id="container">

  <div id="articles-and-form-container">

    <div id="header">
        <%= link_to 'JOURNAL', articles_path %>
    </div>

    <div id="form">
      <% if logged_in? %>
        <%= render partial: 'form', locals: { remote: false } %>
      <% end %>
    </div>


    <div id="articles">
      <% @articles.each do |article| %>
        <%= render partial: 'article', locals: { article: article } %>
      <% end %>
    </div>

  </div>

  <div id="archive-and-tags-container">

    <div id="archive">
      <%= render partial: 'articles/archive' %>
    </div>

    <div id="tag-box">
      <%= render partial: 'articles/tags' %>
    </div>

  </div>

  <div class="clear"></div>

  <div id="overlay"></div>

  <div id="popup">

    <div class="popupcontrols">
      <span id="popupclose">X</span>
    </div>

    <div class="popupcontent">
      <%= render partial: 'articles/login' %>
    </div>

  </div>

</div>
