<div id="container">

  <div id="articles-and-form-container">

    <div id="header">
        <%= link_to 'JOURNAL', articles_path %>
    </div>

    <div id="form">
      <% if logged_in? %>
        <%= render partial: 'form', locals: { remote: false } %>
      <% end %>
    </div>


    <div id="articles">
      <% @articles.each do |article| %>
        <%= render partial: 'article', locals: { article: article } %>
      <% end %>
    </div>

  </div>

  <div id="archive">
    <%= render partial: 'archive' %>
  </div>

  <div id="tag-box">
    <%= render partial: 'tags' %>
  </div>

  <div class="clear"></div>

</div>
