<div id="articles-and-form-container" data-tag="<%= @tag.name %>">

  <%= render partial: 'articles/header' %>

  <div class="archive-view-header">
    <%= "Articles tagged with: #{@tag.name}" %>
  </div>

  <div id="articles">
    <%= render @articles %>
  </div>

  <%= will_paginate @articles %>

</div>
