<!DOCTYPE html>
<html>
  <head>

    <title>Journal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application',
        href="https://fonts.googleapis.com/css?family=Roboto:100,400", media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="container">

      <%= yield %>

      <%= render partial: 'articles/sidebar' %>

      <div id="overlay"></div>

      <div id="login-form">
        <%= render partial: 'articles/login' %>
      </div>

    </div>
  </body>

</html>
